/* Ноутбуки */
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  html {
    font-size: 8.5px;
  }

  .wrapper {
    row-gap: 40px;
  }
  .logo-area-top img {
    width: 100px;
    height: 100px;
  }
  .main-title-top {
    width: 100px;
    font-size: 25px;
  }
  .nav {
    column-gap: 30px;
  }
  .nav-link {
    font-size: 18px;
  }
  .main-inner {
    row-gap: 60px;
  }
  .welcome {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 10px;
  }
  .welcome-row1 {
    margin: 0 0 20px 0;
    font-size: 40px;
  }
  .welcome-row2 {
    font-size: 25px;
  }
  #katalog,
  #contacts {
    row-gap: 40px;
  }
  .katalog-title,
  .contacts-title {
    font-size: 40px;
  }
  .katalog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-content: space-between;
    grid-gap: 30px;
  }
}
