/* Ноутбуки */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .welcome {
    flex-direction: column;
  }
  .welcome-text {
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
  }
  .welcome-row1,
  .welcome-row2 {
    margin: 10px;
  }
  .katalog-content {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    grid-gap: 30px;
  }
  .contacts-content {
    flex-direction: column;
  }
  .contacts-text {
    margin: 0 0 20px 0;
  }
  .item-title,
  .item-data {
    margin: 15px;
  }
  .socials-icons {
    margin: 0;
  }
  .socials-icons p {
    margin: 10px;
  }
}
@media only screen and (min-width: 1224px) {
  .contacts-content {
    flex-wrap: nowrap;
  }
  .map iframe {
    min-width: 100%;
    height: 500px;
  }
}
