/* Ноутбуки */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    row-gap: 20px;
  }
  .logo-area-top img {
    width: 100px;
    height: 100px;
  }
  .main-title-top {
    width: 100px;
  }
  .nav {
    column-gap: 30px;
  }
  .main-inner {
    row-gap: 60px;
  }
  .welcome {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 10px;
  }
  .welcome-text {
    row-gap: 10px;
  }
  #katalog,
  #contacts {
    row-gap: 40px;
  }
  .katalog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    justify-content: space-between;
    grid-gap: 30px;
  }
  .contacts-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-title,
  .item-data {
    margin: 10px;
  }
  .map iframe {
    min-width: 100%;
    height: 500px;
  }
}
@media only screen and (min-width: 1224px) {
  .contacts-content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
  .map iframe {
    min-width: 100%;
    height: 500px;
  }
}
