/* Смартфоны portrait и меньше*/
@media only screen and (max-device-width: 480px) {
  html {
    font-size: 6px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .header-inner {
    padding: 15px 6%;
  }
  .logo-area-top img {
    width: 60px;
    height: 60px;
  }
  .nav {
    display: flex;
    column-gap: 15px;
  }
  .main-title-top {
    width: 60px;
  }
  .main-inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .welcome {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 7px;
  }
  .welcome-text {
    row-gap: 7px;
  }
  .welcome-text {
    text-align: center;
    align-items: center;
  }
  .welcome-imgs {
    display: flex;
    justify-content: center;
  }
  .vertical-pic,
  .horizontal-pic1,
  .horizontal-pic2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vertical-pic {
    margin: 0 4px 0 0;
  }
  .horizontal-pic1 {
    margin: 0 0 2px 0;
  }
  .horizontal-pic2 {
    margin: 2px 0 0 0;
  }
  .horizontal-pics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .vertical-pic img {
    border-radius: 10px;
    width: 94px;
    height: auto;
  }
  .horizontal-pic1 img,
  .horizontal-pic2 img {
    border-radius: 10px;
    max-width: 120px;
    height: auto;
  }

  #katalog,
  #contacts {
    row-gap: 24px;
  }
  .katalog-content {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    justify-content: space-between;
    grid-gap: 12px;
  }
  .plant-card:hover {
    transform: none;
    background-color: none;
  }
  .contacts-content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-title,
  .item-data {
    margin: 5px;
  }
  .map iframe {
    width: 100%;
    height: 300px;
  }
  .footer-inner {
    margin: 0;
    padding: 15px 6%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .main-title-bottom {
    width: 40px;
  }
  .logo-area-bottom img {
    width: 40px;
    height: 40px;
  }
  .socials-title {
    display: none;
  }
  .socials-icons {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
  }
  .instagram-icon svg,
  .facebook-icon svg {
    width: 23px;
    height: 23px;
  }
}
